{
  "globals": {
    "APP_NAME": true,
    "APP_VERSION": true,
    "NO_MIDDLEWARE": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    },
  },
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "never"],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "plugins": [
    "html"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  }
}
