# Builds
dist
package*

# Bundle analyzer
report.html

# CI
.coveralls.yml
.travis.yml

# Configs
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
.huskyrc
.npmignore
.nycrc
.prettierrc
.stylelintrc

# IDE
.idea
.vscode

# macOS files
.DS_Store

# Npm & Yarn files
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock

# Project files
public
src

# Scripts
scripts

# Webpack files
devServer.js
postcss.config.js
postinstall.js
prodServer.js
webpack.config*

# Webpack stats
*stats.json

# Tarball files
*.tgz

# Test
.nyc_output
coverage
setupTests.js
